<div class="app-container" [ngClass]="{'dark-theme': isDarkTheme}">
  <app-header></app-header>
  <div class="container mt-5">
    <h2>Выставление заданий</h2>
    <form [formGroup]="taskForm" (ngSubmit)="onSubmit()">
      <div class="mb-3">
        <label for="taskType" class="form-label">Тип задания</label>
        <select class="form-select" id="taskType" formControlName="taskType" (change)="onTaskTypeChange()" required>
          <option value="">Выберите тип задания</option>
          <option value="daily">Ежедневное</option>
          <option value="regular">Обычное</option>
        </select>
      </div>

      <div class="mb-3">
        <label for="title" class="form-label">Название</label>
        <input type="text" class="form-control" id="title" formControlName="title" required>
      </div>

      <div class="mb-3">
        <label for="price" class="form-label">Цена</label>
        <input type="number" class="form-control" id="price" formControlName="price" required>
      </div>

      <div class="mb-3">
        <label for="actionName" class="form-label">Название действия</label>
        <input type="text" class="form-control" id="actionName" formControlName="actionName" required>
      </div>

      <div class="mb-3">
        <label for="limit" class="form-label">Лимит</label>
        <input type="number" class="form-control" id="limit" formControlName="limit" required>
      </div>

      <div class="mb-3">
        <label for="category" class="form-label">Категория</label>
        <select class="form-select" id="category" formControlName="category" required>
          <option value="" disabled selected>Выберите категорию</option>
          <option value="telegram">Telegram</option>
          <option value="discord">Discord</option>
          <option value="twitter">Twitter</option>
          <option value="youtube">YouTube</option>
          <option value="instagram">Instagram</option>
          <option value="appstore">App Store</option>
          <option value="playmarket">Play Market</option>
          <option value="tiktok">TikTok</option>
          <option value="facebook">Facebook</option>
          <option value="vk">VK</option>
          <option value="pinterest">Pinterest</option>
          <option value="web">Web</option>
        </select>
      </div>

      <div class="mb-3">
        <label for="image" class="form-label">Картинка (не обязательно)</label>
        <input type="file" class="form-control" id="image" (change)="onFileSelected($event)" accept="image/*">
      </div>

      <div class="mb-3">
        <label for="link" class="form-label">Ссылка</label>
        <input type="url" class="form-control" id="link" formControlName="link" required>
      </div>

      <ng-container *ngIf="taskForm.get('taskType')?.value === 'daily'">
        <div class="mb-3">
          <label for="startTime" class="form-label">Время начала</label>
          <input type="time" class="form-control" id="startTime" formControlName="startTime" required>
        </div>

        <div class="mb-3">
          <label for="endTime" class="form-label">Время окончания</label>
          <input type="time" class="form-control" id="endTime" formControlName="endTime" required>
        </div>

        <div class="mb-3">
          <label for="taskSize" class="form-label">Размер задания</label>
          <select class="form-select" id="taskSize" formControlName="taskSize" required>
            <option value="">Выберите размер</option>
            <option value="large">Большой</option>
            <option value="medium">Средний</option>
            <option value="small">Маленький</option>
          </select>
        </div>
      </ng-container>

      <button type="submit" class="btn btn-primary" [disabled]="!taskForm.valid">Выставить задание</button>
    </form>
  </div>
</div>