<div class="app-container" [ngClass]="{'dark-theme': isDarkTheme}">
  <app-header></app-header>
  <div class="container-fluid mt-5">
    <h2>Верификация заданий</h2>
    <div class="mb-4 d-flex align-items-center flex-wrap">
      <button class="btn btn-primary me-3 mb-2" (click)="toggleSortOrder('completed_task_id')">
        <i class="bi" [ngClass]="{'bi-sort-numeric-down': sortField === 'completed_task_id' && sortOrder === 'asc', 'bi-sort-numeric-up': sortField === 'completed_task_id' && sortOrder === 'desc'}"></i>
        {{ sortField === 'completed_task_id' && sortOrder === 'asc' ? 'Новые' : 'Старые' }}
      </button>
      <button class="btn btn-primary me-3 mb-2" (click)="toggleSortOrder('id')">
        <i class="bi" [ngClass]="{'bi-sort-numeric-down': sortField === 'id' && sortOrder === 'asc', 'bi-sort-numeric-up': sortField === 'id' && sortOrder === 'desc'}"></i>
        {{ sortField === 'id' && sortOrder === 'asc' ? 'По возрастанию ID' : 'По убыванию ID' }}
      </button>
      <button class="btn btn-primary me-3 mb-2" (click)="toggleSortOrder('reward')">
        <i class="bi" [ngClass]="{'bi-sort-numeric-down': sortField === 'reward' && sortOrder === 'asc', 'bi-sort-numeric-up': sortField === 'reward' && sortOrder === 'desc'}"></i>
        {{ sortField === 'reward' && sortOrder === 'asc' ? 'По возрастанию награды' : 'По убыванию награды' }}
      </button>
      <button class="btn btn-primary me-3 mb-2" (click)="toggleSortOrder('limit')">
        <i class="bi" [ngClass]="{'bi-sort-numeric-down': sortField === 'limit' && sortOrder === 'asc', 'bi-sort-numeric-up': sortField === 'limit' && sortOrder === 'desc'}"></i>
        {{ sortField === 'limit' && sortOrder === 'asc' ? 'По возрастанию лимита' : 'По убыванию лимита' }}
      </button>
      <div class="input-group me-3 mb-2" style="max-width: 300px;">
        <label class="input-group-text" for="platformSelect">Платформа</label>
        <select class="form-select" id="platformSelect" [(ngModel)]="selectedPlatform" (change)="filterTasks()">
          <option value="">Все платформы</option>
          <option value="telegram">Telegram</option>
          <option value="discord">Discord</option>
          <option value="twitter">Twitter</option>
          <option value="youtube">YouTube</option>
          <option value="instagram">Instagram</option>
          <option value="appstore">App Store</option>
          <option value="playmarket">Play Market</option>
          <option value="tiktok">TikTok</option>
          <option value="facebook">Facebook</option>
          <option value="vk">VK</option>
          <option value="pinterest">Pinterest</option>
          <option value="web">Web</option>
        </select>
      </div>
      <div class="input-group mb-2">
        <input type="text" class="form-control" placeholder="Поиск по названию" [(ngModel)]="searchText" (input)="filterTasks()">
        <button class="btn btn-outline-secondary" type="button" (click)="filterTasks()">
          <i class="bi bi-search"></i>
        </button>
      </div>
      <button class="btn btn-secondary mb-2" (click)="resetFilters()">
        Сбросить фильтры
      </button>
    </div>
    <div class="input-group me-3 mb-2" style="max-width: 300px;">
      <label class="input-group-text" for="userTgIdSelect">User ID</label>
      <select class="form-select" id="userTgIdSelect" [(ngModel)]="selectedUserTgId" (change)="filterTasks()">
        <option value="">Все пользователи</option>
        <option *ngFor="let userId of getUserTgIds()" [value]="userId">{{ userId }}</option>
      </select>
    </div>

    <div *ngIf="selectedUserTgId && filteredTasks.length > 0" class="mb-3">
      <button class="btn btn-success me-2" (click)="confirmAllTasksForUser(selectedUserTgId)">
        Подтвердить все задания пользователя
      </button>
      <button class="btn btn-danger" (click)="banUserAndReturnAllTasks(selectedUserTgId)">
        Забанить пользователя и вернуть все задания
      </button>
    </div>

    <div *ngIf="tasks.length === 0; else tasksList">
      <p>Заданий для верификации нет.</p>
    </div>
    <ng-template #tasksList>
      <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4 g-4">
        <div class="col" *ngFor="let task of filteredTasks">
          <div class="card h-100">
            <div class="card-header text-center">
              <h5>Тип задания: {{ (task.start_time && task.end_time && task.task_size) ? 'Ежедневное' : 'Обычное' }}</h5>
            </div>
            <img *ngIf="task.proof_photo" [src]="getTaskImageUrl(task.proof_photo)"
     class="card-img-top proof-photo" alt="Фото доказательства"
     style="display: block; margin: 0 auto; max-width: 100%; height: 70%; max-height: 60vh; object-fit: contain;">
            <div class="card-body">
              <ul class="list-group list-group-flush">
                <li class="list-group-item"><strong>User ID:</strong> {{ task.user_id }}</li>
                <li class="list-group-item"><strong>ID выполненного задания:</strong> {{ task.completed_task_id }}</li>
                <li class="list-group-item"><strong>ID задания:</strong> {{ task.task_id }}</li>
                <li class="list-group-item"><strong>Название:</strong> {{ task.name }}</li>
                <li class="list-group-item"><strong>Описание:</strong> {{ task.description }}</li>
                <li class="list-group-item"><strong>Награда:</strong> {{ task.reward }}</li>
                <li class="list-group-item"><strong>Платформа:</strong> {{ task.platform }}</li>
                <li class="list-group-item"><strong>Ссылка:</strong> <a [href]="task.link" target="_blank">{{ task.link }}</a></li>
                <li class="list-group-item"><strong>Лимит:</strong> {{ task.limit }}</li>
                <li class="list-group-item" *ngIf="task.start_time"><strong>Начало:</strong> {{ task.start_time | date:'medium' }}</li>
                <li class="list-group-item" *ngIf="task.end_time"><strong>Окончание:</strong> {{ task.end_time | date:'medium' }}</li>
                <li class="list-group-item" *ngIf="task.task_size"><strong>Размер задания:</strong> {{ task.task_size }}</li>
                <li class="list-group-item" *ngIf="task.social_link"><strong>Ссылка на соц. сеть:</strong> <a [href]="task.social_link" target="_blank">{{ task.social_link }}</a></li>
              </ul>
            </div>
            <div class="card-footer">
              <div class="d-flex justify-content-between">
                <button class="btn btn-success" (click)="confirmTask(task.completed_task_id)">Подтвердить</button>
                <button class="btn btn-danger" (click)="returnTask(task.completed_task_id)">Вернуть</button>
                <button class="btn btn-warning" (click)="banUser(task.user_id, task.completed_task_id)">Забанить пользователя</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </ng-template>
  </div>
</div>