<div class="app-container" [ngClass]="{'dark-theme': isDarkTheme}">
    <app-header></app-header>
    <div class="container mt-5">
        <h2>Рассылки</h2>
        <form [formGroup]="mailingForm" (ngSubmit)="onSubmit()">

            <div *ngIf="mailingForm.get('rankSelection')?.value === 'specific'" class="mb-3">
                <label for="specificRanks" class="form-label">Конкретные ранги (через запятую)</label>
                <input type="text" class="form-control" id="specificRanks" formControlName="specificRanks" placeholder="Например: 1,5,8">
            </div>

            <div class="mb-3">
                <label for="messageText" class="form-label">Текст сообщения</label>
                <editor
                    formControlName="messageText"
                    [init]="{
                        height: 300,
                        menubar: false,
                        plugins: [
                            'advlist autolink lists link image charmap print preview anchor',
                            'searchreplace visualblocks code fullscreen',
                            'insertdatetime media table paste code help wordcount'
                        ],
                        toolbar:
                            'undo redo | formatselect | bold italic backcolor | \
                            alignleft aligncenter alignright alignjustify | \
                            bullist numlist outdent indent | removeformat | help'
                    }"
                ></editor>
            </div>

            <div class="mb-3">
                <label for="sendTime" class="form-label">Время рассылки</label>
                <input type="datetime-local" class="form-control" id="sendTime" formControlName="sendTime">
            </div>

            <div class="mb-3">
                <label for="image" class="form-label">Картинка</label>
                <input type="file" class="form-control" id="image" (change)="onFileSelected($event)" accept="image/*">
            </div>

            <button type="submit" class="btn btn-primary" [disabled]="!mailingForm.valid">Подтвердить рассылку</button>
        </form>
    </div>

      

    <app-modal [message]="modalMessage"></app-modal>
</div>