<div class="app-container" [ngClass]="{'dark-theme': isDarkTheme}">
    <app-header></app-header>

    <div class="container mt-5">
        <h2 class="mb-4">Системные настройки</h2>
        <form [formGroup]="settingsForm" (ngSubmit)="onSubmit()">
            <div class="card mb-4" *ngIf="settingsForm">
                <div class="card-header">
                    <h3 class="mb-0">Текущие настройки</h3>
                </div>
                <div class="card-body">
                    <p><strong>Название ранга:</strong> {{ settingsForm.get('rank_name')?.value }}</p>
                    <p><strong>Нижний порог:</strong> {{ settingsForm.get('threshold_low')?.value }}</p>
                    <p><strong>Верхний порог:</strong> {{ settingsForm.get('threshold_high')?.value }}</p>
                    <p><strong>Скорость фарминга:</strong> {{ settingsForm.get('farming_speed')?.value }}</p>
                    <p><strong>Вознаграждение за фарминг:</strong> {{ settingsForm.get('farming_rewards')?.value }}</p>
                    <p><strong>Реферальное вознаграждение (Уровень 1):</strong> {{ settingsForm.get('referral_level1')?.value }}</p>
                    <p><strong>Реферальное вознаграждение (Уровень 2):</strong> {{ settingsForm.get('referral_level2')?.value }}</p>
                    <p><strong>Реферальное вознаграждение (Уровень 3):</strong> {{ settingsForm.get('referral_level3')?.value }}</p>
                    <p><strong>Глубина реферальной программы:</strong> {{ settingsForm.get('referral_depth')?.value }}</p>
                </div>
            </div>
        </form>
        <form [formGroup]="settingsForm" (ngSubmit)="onSubmit()">
            <div class="card mb-4">
                <div class="card-header">
                    <h3 class="mb-0">Система рангов</h3>
                </div>
                <div class="card-body">
                    <div class="mb-3">
                        <label for="rank_name" class="form-label">Название ранга:</label>
                        <input id="rank_name" formControlName="rank_name" class="form-control">
                    </div>
                    <div class="mb-3">
                        <label for="threshold_low" class="form-label">Нижний порог:</label>
                        <input id="threshold_low" type="number" formControlName="threshold_low" class="form-control">
                    </div>
                    <div class="mb-3">
                        <label for="threshold_high" class="form-label">Верхний порог:</label>
                        <input id="threshold_high" type="number" formControlName="threshold_high" class="form-control">
                    </div>
                    <div class="mb-3">
                        <label for="farming_speed" class="form-label">Скорость фарминга:</label>
                        <input id="farming_speed" type="number" formControlName="farming_speed" class="form-control">
                    </div>
                </div>
            </div>

            <div class="card mb-4">
                <div class="card-header">
                    <h3 class="mb-0">Вознаграждения за фарминг</h3>
                </div>
                <div class="card-body">
                    <div class="mb-3">
                        <label for="farming_rewards" class="form-label">Вознаграждение:</label>
                        <input id="farming_rewards" type="number" formControlName="farming_rewards" class="form-control">
                    </div>
                </div>
            </div>

            <div class="card mb-4">
                <div class="card-header">
                    <h3 class="mb-0">Реферальные вознаграждения</h3>
                </div>
                <div class="card-body">
                    <div class="mb-3">
                        <label for="referral_level1" class="form-label">Уровень 1:</label>
                        <input id="referral_level1" type="number" formControlName="referral_level1" class="form-control">
                    </div>
                    <div class="mb-3">
                        <label for="referral_level2" class="form-label">Уровень 2:</label>
                        <input id="referral_level2" type="number" formControlName="referral_level2" class="form-control">
                    </div>
                    <div class="mb-3">
                        <label for="referral_level3" class="form-label">Уровень 3:</label>
                        <input id="referral_level3" type="number" formControlName="referral_level3" class="form-control">
                    </div>
                    <div class="mb-3">
                        <label for="referral_depth" class="form-label">Глубина реферальной программы:</label>
                        <input id="referral_depth" type="number" formControlName="referral_depth" class="form-control">
                    </div>
                </div>
            </div>

            <button type="submit" class="btn btn-primary" [disabled]="!settingsForm.valid">Применить настройки</button>
        </form>
    </div>

    <app-modal [message]="modalMessage"></app-modal>
</div>