/* @import url('https://fonts.googleapis.com/css2?family=Gilroy:wght@800&display=swap'); */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


body {
  font-family: Arial, sans-serif;
  width: 320px;
  margin: 0 auto;
  background-color: white;
}

.container {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  /* padding-left: 20px;
  padding-right: 20px; */
}

header {
  background-color: FFFFFF;
  padding: 20px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  text-align: center;
  flex-grow: 1;
}

.logo img {
  max-width: 100px;
  margin-left: 15%;
}

.menu-icon {
  margin-right: 10px;

}

.menu-icon img {
  max-width: 30px;
}

main {
  margin-top: -20px;
  margin-bottom: 20px;
  margin-left: 15px;
  margin-right: 15px;
}

.bigtext {
  text-align: center;
  align-items:center;
  margin-top: 10%;
  margin-bottom: 5%;
  font-size: 30px;
  font-weight: 800;
  font-family: 'Gilroy', sans-serif;
  line-height: 1; /* Добавляем это, чтобы уменьшить отступ между строками */
}

.hero-text {
  text-align: center;
  margin-right: 20px;
  margin-left: 20px;
}

.additional-image {
  margin-top: 20px;
}

.hero_gif video {
  width: 100%;
  height: auto;
}

.additional-image img {
  width: 100%;
  height: auto;
}

.discuss_project_button {
  text-align: center;
  margin-top: 20px;
 }
 
 .discuss_project_button button {
  background-color: #C5F542;
  font-weight: bold;
  width: 90%;
  color: #000;
  border: none;
  border-radius: 20px;
  padding: 15px 20px;
  font-size: 16px;
  cursor: pointer;
  /* margin-left: 10px;
  margin-right: 10px; */
 }

 .advantages_text {
  margin-top: 70px;
  text-align: center;
  font-weight: 600;
  font-size: 29px;
}
.features {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 20px;
}

.feature {
  flex-basis: 50%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 7px;
}

.feature img {
  max-width: 50px;
}

.feature h3 {
  margin-top: 10px;
  font-size: 12px;
  font-weight: 400;
}

.feature p {
  margin-top: 5px;
  font-size: 10px;
}

.pie {
  background-image: url('../../../assets/images/blue_fon.png');
  padding: 20px;
  margin-top: -40px;
  height: 680px;
  background-repeat: no-repeat;
}


.services_text {
  margin-top: 80px;
  text-align: center;
  font-weight: 500;
  font-size: 24px;
  margin-bottom: 80px;
  color: white;
  font-weight: 700;
}

.services_icons {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  width: 300px; /* Установите ширину равную диаметру пирога */
  height: 300px; /* Установите высоту равную диаметру пирога */
  position: relative;
  border-radius: 50%; /* Делаем пирог круглым */
}

.service_icon {
  position: absolute;
  width: 50%; /* Ширина каждого кусочка пирога */
  height: 50%; /* Высота каждого кусочка пирога */
  transition: all 0.3s ease; /* Добавляем плавный переход при наведении */
}

.service_icon img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.service_icon:nth-child(1) {
  bottom: 21%;
  right: 45%;
  border-top-right-radius: 50%;
  width: 40%;
  height: 40%;
}

.service_icon:nth-child(1):hover {
  bottom: 16%;
  right: 49%;
}

.svg1 {
  width: 100%;
  height: 100%;
  margin-top: -40px;
  margin-left: 20px;
}

.service_icon:nth-child(2) {
  bottom: 21%;
  right: 15%;
  border-top-right-radius: 50%;
  width: 40%;
  height: 40%;
}

.service_icon:nth-child(2):hover {
  bottom: 16%;
  right: 12%;
}

.svg2 {
  width: 100%;
  height: 100%;
  margin-top: -60px;
  margin-left: 40px;
}

.service_icon:nth-child(3) {
  bottom: 40%;
  right: 9%;
  border-bottom-left-radius: 50%;
  width: 40%;
  height: 40%;
}

.service_icon:nth-child(3):hover {
  bottom: 40%;
  right: 5%;
}

.svg3 {
  width: 100%;
  height: 100%;
  margin-top: -210px;
  margin-left: 70px;
}

.service_icon:nth-child(4) {
  bottom: 60%;
  right: 14%;
  border-bottom-right-radius: 50%;
  width: 40%;
  height: 40%;
}

.service_icon:nth-child(4):hover {
  bottom: 67%;
  right: 12%;
}

.svg4 {
  width: 100%;
  height: 100%;
  margin-top: -180px;
  margin-left: 15px;
}

.service_icon:nth-child(5) {
  bottom: 40%;
  right: 40%;
  border-bottom-right-radius: 50%;
  width: 60%;
  height: 60%;
}

.service_icon:nth-child(5):hover {
  bottom: 45%;
  right: 45%;
}

.svg5 {
  width: 100%;
  height: 100%;
  margin-top: -225px;
  margin-left: 40px;
}

@keyframes pulse {
  0% {
    transform: scale(0.7);
  }
  50% {
    transform: scale(0.8);
  }
  100% {
    transform: scale(0.7);
  }
}

.pulsing-circle {
  animation: pulse 2s infinite ease-in-out;
  transform-origin: center;
}

.big_text_left {
  margin-top: 50px;
  padding: 10px;
  font-size: 36px; /* размер шрифта */
  font-weight: bold; /* жирное начертание */
  text-align: left; /* выравнивание по левому краю */
  width: 50%;
}

.image_container {
  position: relative;
  display: inline-block;
}

.image_container img {
  width: 100%;
  height: auto;
}

.centered_text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 11px;
  font-weight: bold;
  color: black;
}

.image_container_left {
  position: relative;
  display: inline-block;
}

.image_container_left img {
  width: 300px; /* Задайте необходимую ширину изображения */
  height: auto;
  margin-right: 20px;
}

.left_text {
  position: absolute;
  top: 60%;
  left: 27%;
  width: 150px;
  transform: translate(-50%, -50%);
  font-size: 11px;
  font-weight: bold;
  color: white;
  text-align: left;
}

.agreement_text {
  position: absolute;
  top: 60%;
  left: 55%;
  transform: translate(-50%, -50%);
  font-size: 11px;
  font-weight: bold;
  color: white;
  text-align: left;
  width: 170px;
}

.team_heading {
  text-align: center;
  margin-bottom: 40px;
}

.main_text {
  font-size: 36px;
  font-weight: bold;
  margin-bottom: 10px;
}

.sub_text {
  width: 280px;
  font-size: 14px;
  color: #1E1E1E;
  margin: 0 auto;
}

.content_block {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin-bottom: 40px;
}

.image-container {
  position: relative;
  width: 100%;
  max-width: 500px;
}

.image-container img {
  width: 100%;
  height: auto;
}

.slider-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(-8deg);
  width: 50%;
  height: 50%;
  overflow: hidden;
  display: flex;
  
}

.slide {
  flex: 0 0 33.33%;
  position: relative;
  opacity: 0;
  transform: translateX(-100%);
  transition: opacity 0.5s, transform 0.5s;
}

.slide.active {
  opacity: 1;
  transform: translateX(0);
}

.slide img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.title {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 10px;
}

.scroll_container {
  max-height: 100px;
  overflow-y: auto;
  padding: 10px;
  border: 1px solid #ccc;
  width: 300px;
}






















.consult_text {
  font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
}

.subc_text {
  width: 280px;
  font-size: 10px;
  color: #1E1E1E;
  margin: 0 auto;
}


.input-container {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
  }
  .input-container label {
  font-weight: bold;
  margin-bottom: 5px;
  color: #0037FF;
  font-size: 12px;
  margin-left: 8px;
  }
  .input-container input {
  padding: 6px;
  border: 1px solid #0037FF;
  border-radius: 10px;
  font-size: 16px;
  margin-left: 8px;
  margin-right: 8px;
  padding-left: 15px;
  }
  .input-container input::placeholder {
  color: #999;
  font-size: 10px;
  }
  
  #phone {
    padding-left: 30px; /* Добавьте немного отступа слева, чтобы иконка не была прижата к краю */
    background-image: url('../../../assets/images/country/belarus.png'); /* Путь к вашей иконке */
    background-size: 25px 15px; /* Задайте размер иконки */
    background-position: 5px center; /* Разместите иконку в центре по вертикали, с отступом 5px слева */
    background-repeat: no-repeat;
  }


  footer {
    background-image: url('../../../assets/images/footer_blue.png');
    color: #fff;
    padding: 45px 0; /* Отступы вверх/вниз */
    padding-bottom: 10px;
    background-repeat: no-repeat;
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  
  .footer-icons {
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
    width: 100%;
  }
  
  .icon-link {
    display: block;
    margin: 0 15px;
  }
  
  .icon-link img {
    width: 45px;
    height: 42px;
  }
  
  .footer-info {
    text-align: center;
    margin-bottom: 20px;
    font-family: 'Gilroy', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .footer-copyright {
    text-align: center;
    font-size: 14px;
  }
  
  .footer_text_1 {
    font-size: 12px;
    font-weight: 800;
  }
  
  .footer_text_2 {
    font-size: 10px;
    padding-left: 15px;
    padding-right: 15px;
    font-weight: 100;
    margin-bottom: 10px;
  }
  
  .footer_text_3 {
    font-size: 10px;
    padding-left: 15px;
    padding-right: 15px;
    font-weight: 100;
    margin-bottom: 5px;
    text-decoration: underline;
    width: 60%;
    text-align: center;
  }